/* Color palette */
:root {
  --color-primary: #008e7e;
  --color-secondary: #58c3af;
  --color-accent: #bbd532;
  --color-secondary-accent: #20525c;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #f0f4f4;

  --color-primary-dark: #1f9c8e;
  --color-primary-darker: #149788;
  --color-primary-darkest: #0c2b35;

  --color-gray-lightest: #f9f9f9;
}

/* Margin and padding */
html,
body {
  margin: 0;
  padding: 0;
  background: var(--color-gray);
  scroll-behavior: smooth;
}

/* Fonts and sizing */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ITC Avant Garde', sans-serif !important;
  line-height: 150%;
}

html * {
  font-family: 'Avenir', sans-serif;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}

h1.display {
  font-size: 120px;
}
h2.display {
  font-size: 96px;
}
h3.display {
  font-size: 80px;
}
h4.display {
  font-size: 64px;
}

p,
span {
  font-size: 16px;
  line-height: 150%;
}

p.caption,
span.caption {
  font-size: 12px;
}

/* Icons */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Flexbox centering */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gap {
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 12px;
  }

  p,
  span {
    font-size: 12px;
  }
}
